<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Ibhuku! Confirm Your Email</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class=page-header>You're almost done!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 well well-lg">
				<div class="col-md-12">
					<h3>Just confirm your email address.</h3>
				</div>
				<div class="col-md-12">
					<p>
						By clicking on the following link, you are confirming your email address and agreeing to Ibhuku's terms of service.
					</p>
					<button class='btn btn-success btn-lg btn-block'> Confirm Email</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>