<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Ibhuku! Confirm Your Email</title>
	<style>
		body {
			background-color: white;
			font-family: Arial, sans-serif;
		}
		p {
			font-size: 16px;
			line-height: 25px;
			color: #000000;
		}
		button { 
			background-color: #177f43;
			height: 45px;
			width: 300px;
			padding: 10px;
			font-size: 16px;
			border: 0;
			border-radius: 5px;
			color: #ffffff;
		 }
		 button:hover{
			background-color: #075327;
		 }
		 td{
		 	padding: 0px 30px;
		 }
		 a{
		 	text-decoration: none;
		 }
	</style>
</head>
<body>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=" border: 1px solid #eeeeee; border-collapse: collapse;">
						<tr style="background-color: #e2e2e2;">
							<td>
								<h2>{{user.name}}, you're almost done!</h2>
								<h3>Just confirm your email address.</h3>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px 30px">
								<p>
									Hi {{ user.name }}, 
								</p>
								<p>
									By clicking on the following button/link, you are confirming your email address and agreeing to Ibhuku's terms of service. 
								</p>
								<p>
									You can also copy and paste this link in your browser: {% autoescape on %}
										{{ protocol }}://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}
									{% endautoescape %}
								</p>
							</td>
						</tr>
						<tr align="center">
							<td id="btn-row" height="100">
								<a href="{{ protocol }}://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}"><button class='btn btn-success btn-lg btn-block'> Confirm Email Address</button></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
</body>
</html>