.container{
	margin: auto;
	width: 960px;
}

#profile-box{
	padding: 20px;
	border:  1px solid #ccc;
	border-radius: 5px;
	background-color: #F9F9F9;
}

#profile-box img{
	width:  150px;
	height: 150px;
	border-radius: 5px;
}

.img-container{
	position: relative;
	display: inline-block;
}

.img-container .img-after{
	position: absolute;
	top: 0;
	left:  0;
	width: 100%;
	height: 100%;
	display: none;
	color:  #fff;
}

.img-container:hover .img-after {
	display: block;
	border-radius: 5px;
	background: rgba(0, 0, 0, .6);
}
