{% extends "profiles/base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags%}

{%block profiles_title%}{{user.name}}| Profile| Ibhuku.com{%endblock profiles_title%}
{%block profiles_css%}
{%endblock profiles_css%}


{%block profile_box%} 
	<div class="container">
		<div class="col-md-2">
			<div class="img-container">
				<a href="{% url 'profile:avatar-upload' profile.user.name profile.user.pk %}">
					<img src="{{profile.avatar}}" alt="user default picture">
					<div class="img-after">
						<p>Upload Image.</p>
					</div>
				</a>
			</div>
			<div class="img-after">
				
			</div>
		</div>
		<div class="col-md-9">
			<p>
				{{user.name}}

			</p>
		</div>
	</div>
{%endblock profile_box%}
{%block profiles_body%}
	<div class="row">
		<div class="col-md-8">
			<div class="page-header text-info text-center">
				<h2>Dashboard</h2>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
{%endblock profiles_body%}