{% extends "profiles/base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags%}

{%block profiles_title%}{{user.name}}| Profile| Ibhuku.com{%endblock profiles_title%}
{%block profiles_css%}
{%endblock profiles_css%}


{%block profile_box%} 
	<div class="container">
		<div class="col-md-3 col-xs-2">
			<div class="avatar-hovereffect" data-toggle="modal" data-target="#avatarModal">
				<img class='main-image img-responsive' src="{{profile.avatar.url}}" alt="{{profile.user.name}} avatar image">
				<div class="avatar-overlay">
					<span class='img-icon'><i class="fa fa-camera fa-4x" aria-hidden="true"></i></span>
					<h2>Upload Image</h2>
				</div>
			</div>
			<div id="avatarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							 <h4 class="modal-title" id="avatarModalLabel">Upload Image</h4>
						</div>
						<div class="modal-body">
							<div class="avmodal-img">
								<img class='img-responsive' src="{{profile.avatar.url}}" alt="{{profile.user.name}} avatar image">
							</div>
							<div class="avmodal-form">
								{% crispy avatar_form avatar_form.helper %}
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-md-9">
			<p>
				{{user.name}}

			</p>
		</div>
	</div>
{%endblock profile_box%}
{%block profiles_body%}
	<div class="row">
		<div class="col-md-12">
			<div class="page-header text-info text-center">
				<h2>Dashboard</h2>
			</div>
		</div>
	</div>
{%endblock profiles_body%}