body {
	background-color: #fff;
	padding-top:  50px;
} 

.btn{
	text-decoration: none;
}

.container-fluid{
	margin: auto;
	width: 960px;
}

.navbar-right ul{
	margin-right:  0px;
}

.ibk-messages{
	height: 35px;
	text-align: center;
}

.messages{
	height: 35px;
	padding: 0;
	list-style-type: none;
}

.messages li {
	padding: 10px;
	font-size: 20px;
}

.message-success{
	background-color: #2ECC71;
	color:  white;
}

.message-warning{
	background-color: #E67E22;
	color: white;
}

.message-error {
	background-color: #E74C3C;
	color: white;
}
