{% extends "accounts/base.html" %}
{%load staticfiles%}

{%block account_title%}Account Error{%endblock account_title%}
{%block account_css%}
	<script>
  		window.setTimeout(function(){
    		window.location.href = "{% url 'accounts:index' %}";
  		}, 5000);
	</script>
{%endblock account_css%}
{%block account_body%}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12  page-header text-danger text-center">
				<h2>Your Account Could Not Be Found.</h2>
			</div>
			<div class="col-md-12 text-center">
				<h3>You either do not have an account with us</br> or the account no longer exist.</h3>
			</div>
			<div class="col-md-12 well lead text-left">
				<p>If account recently created, please check your email to activate</p>
				<p>You will be redirected to create a new account.</p>
			</div>
			<p class="small text-center">If this page does not redirect in 5 seconds. Please <a href="{%url 'accounts:index' %}">click here</a>.</p>
		</div>
	</div>
{%endblock account_body%}