{% extends "accounts/base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags%}

{%block account_title%}Reset Activation Link{%endblock account_title%}
{%block account_css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/account_styles.css' %}">
{%endblock account_css%}
{%block account_body%}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header text-info text-center">
				<h2>Reset Acccount Activation Link</h2>
			</div>
			<div class='col-md-12 well lead text-center'>
				<p>Your link has either expired or there was an error.</p>
				<p>Getting a new activation link is simple.</p>
				<p>Just click the button.</p>
			</div>
			{% crispy form form.helper %}
		</div>
	</div>
{%endblock account_body%}