{% extends "accounts/base.html" %}
{%load staticfiles%}

{%block account_title%}Sign-Up!{%endblock account_title%}
{%block account_css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/account_styles.css' %}">
{%endblock account_css%}

{%block account_body%}
	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	    {%for field in form%}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<span class="text-danger small">{{field.errors}}</span>
				</div>
				<label for="control-label col-sm-2" name={{field.label}}>{{field.label_tag}}</label>
				<div class="col-sm-12">{{field}}</div>
			</div>
	    {%endfor%}
	</form>
{%endblock account_body%}