{% extends "accounts/base.html" %}
{%load staticfiles%}

{%block account_title%}Verified Activation Link{%endblock account_title%}
{%block account_css%}
	<script>
  		window.setTimeout(function(){
    		window.location.href = "{% url 'auths:login' %}";
  		}, 3000);
	</script>
{%endblock account_css%}
{%block account_body%}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12  page-header text-info text-center">
				<h2>Your Account Has Been Verified.</h2>
			</div>
			<div class="col-md-12 well lead text-left">
				<p>You have successfully verified your account.</p>
				<p>You can now log-in.</p>
			</div>
			<p class="small text-center">If this page does not redirect in 5 seconds. Please <a href="{%url 'accounts:index' %}">click here</a>.</p>
		</div>
	</div>
{%endblock account_body%}