{% extends "auths/base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags%}

{%block auths_title%}Login{%endblock auths_title%}
{%block auths_css%}
	
{%endblock auths_css%}

{%block auths_body%}
	<div class="row" id="signup-container">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header text-info text-center">
				<h2>Login</h2>
			</div>
			{% crispy form form.helper %}
			<p class="text-center">
				Forgot your password? <a href="#">Reset Password</a>
			</p>
			<p class="text-center">
				<small>Don't have an account ? <a href="">Sign up</a></small>
			</p>
		</div>
	</div>
{%endblock auths_body%}