{% extends "auths/base.html" %}
{%load staticfiles%}

{%block auths_title%}Verified Activation Link{%endblock auths_title%}
{%block auths_css%}
{%endblock auths_css%}
{%block auths_body%}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12  page-header text-info text-center">
				<h2>Password Reset Completed.</h2>
			</div>
			<div class="col-md-12 well lead text-left">
				<p>
    				Your password has been set.
  				</p>
  				<p>You may go ahead and <b><a href="{% url 'auths:login' %}">sign in</a> </b>now.</p>
			</div>
		</div>
	</div>
{%endblock auths_body%}