{% extends "auths/base.html" %}
{%load staticfiles%}
{% load crispy_forms_tags%}

{%block auths_title%}Password Reset{%endblock auths_title%}
{%block auths_css%}
	
{%endblock auths_css%}

{%block auths_body%}
	<div class="row" id="signup-container">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			{% if validlink %}
			<div class="page-header text-info text-center">
				<h2>Change Password</h2>
			</div>
				{% crispy form form.helper %}
			<p class="text-center">
				<small>Don't have an account ? <a href="{% url 'accounts:register' %}">Sign up</a></small>
			</p>
			{%else%}
				<div class="col-md-12  page-header text-danger text-center">
					<h2>There was an error.</h2>
				</div>
				<div class="col-md-12 well lead text-left">
					<p>
      					The password reset link was invalid, possibly because it has already been used.
    				</p>
    				<p>
    					Please request a new password reset.
    				</p>
				</div>
				<p class="small text-center">Reset Password. Please <a href="{%url 'auths:recover' %}">click here</a>.</p>
			{%endif%}
			<div class="col-md-4"></div>
		</div>
	</div>
{%endblock auths_body%}