{% extends "auths/base.html" %}
{%load staticfiles%}

{%block auths_title%}Verified Activation Link{%endblock auths_title%}
{%block auths_css%}
	<script>
  		window.setTimeout(function(){
    		window.location.href = "{% url 'auths:login' %}";
  		}, 20000);
	</script>
{%endblock auths_css%}
{%block auths_body%}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12  page-header text-info text-center">
				<h2>Password Reset Instructions Sent.</h2>
			</div>
			<div class="col-md-12 well lead text-left">
				<p>
			    	We've emailed you instructions for setting your password, if an account exists with the email you entered.
			   		You should receive them shortly.
			  	</p>
				<p>
					If you don't receive an email, please make sure you've entered the address you registered with,
					and check your spam folder.
				</p>
			</div>
			<p class="small text-center">If this page does not redirect in 10 seconds. Please <a href="{%url 'accounts:index' %}">click here</a>.</p>
		</div>
	</div>
{%endblock auths_body%}