{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{%block account_title%}Accounts{%endblock account_title%}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		{%block account_css%}

		{%endblock account_css%}
	</head>
	<body>
		{% include 'nav/nav.html'%}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% block account_body %}
					
					{% endblock account_body %}
				</div>
			</div>
		</div>
		{% include 'footer/footer.html' %}
	</body>
</html>