<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="{% url 'accounts:index' %}" class="navbar-brand"> Ibhuku </a>
		</div>
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				{% if not request.user.is_authenticated %} 
					<li><a href="{%url 'accounts:register' %}">Sign-Up</a></li>
					<li><a href="{%url 'auths:login' %}">Login</a></li> 
				{%else%}
					<li><a href="{%url 'profile:dashboard' request.user.name %}">Dashboard</a></li>
					<li><a href="{%url 'auths:logout' %}">Log Out</a></li> 
				{%endif%}
			</ul>
		</div>
	</div>
</nav>